@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
@import url('../fonts/stylesheet.css');

.page-tittle{
  background: linear-gradient(180deg, #444444 0%, #0A0A0A 100%);
  color: #FFF;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.5em;
  padding: 40px 0;
  text-transform: uppercase;
}

.contato-container{
  font-size: 0.9em;
}

.contato-container h2{
  font-weight: 700;
}

.contato-container p{
  line-height: 1.2em;
}

.contato-info{
  padding: 20px 0;
}

.contato-icone{
  padding-bottom: 20px;
}

.contato__telefone{
  padding: 20px 0;
}

.contato__email{
  padding: 20px 0;
}

.contato__endereco{
  padding: 20px 0;
}

.contato-form{
  padding-bottom: 30px;
}

.contato-form .btn-primary{
  background-color: #337EEE;
}


/*------------------------------------------------------------------
---------------------------- RESPONSIVO ----------------------------
--------------------------------------------------------------------*/

@media (min-width: 768px) {
  .carrousel__page-tittle{
    font-size: 1.8em;
  }
  .carrousel__page-sub{
    font-size: 1.7em;
  }
  .card__lojas-shape{
    margin: 20px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .contato-icone{
    max-width: 7%;
  }
  .contato-form{
    padding-bottom: 0;
  }
}

@media (min-width: 1100px) {

}

@media (min-width: 1920px) {

}